flask==3.0.3
flask-cors==4.0.0
sqlalchemy==2.0.30
pymupdf==1.24.3
langchain==0.1.20
langchain-community==0.0.38
langchain-openai==0.1.7
faiss-cpu==1.8.0
sentence-transformers==2.7.0
tensorflow==2.16.1
numpy==1.26.4
python-dotenv==1.0.1
pydantic==2.7.1